{% extends 'layout.twig' %}

{% block body %}
  <h1>Pointages</h1>
  <table class="table">
    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">date Prévu</th>
        <th scope="col">date Réalisé</th>
    </tr>

        {% for pointage in pointages %}

            {% if pointage.etat == 'en attente' %}
                <tr class="bg-gris">
                    <td>{{pointage.Etudiant.nom}}</td>
                    <td>{{pointage.Etudiant.prenom}}</td>
                    <td>{{pointage.datePrevu}}</td>
                    <td>{{pointage.dateRealise}}</td>
                </tr>
            {% endif %}

            {% if pointage.etat == "à l'heure" %}
                <tr class="bg-success">
                    <td>{{pointage.Etudiant.nom}}</td>
                    <td>{{pointage.Etudiant.prenom}}</td>
                    <td>{{pointage.datePrevu}}</td>
                    <td>{{pointage.dateRealise}}</td>
                </tr>
            {% endif %}

        {% endfor %}
  </table>
{% endblock %}
